<h1><%= current_user.role.titleize %>'s Dashboard</h1>
<% if current_user.role == 'student' %>
  <%= render 'dashboard/student' %>
<% else
     if current_user.role == 'ta' %>
    <%= render 'dashboard/ta' %>
  <% else
       if current_user.role == 'teacher' %>
      <%= render 'dashboard/teacher' %>
    <% end %>
  <% end %>
<% end %>

<%= button_to 'Logout', logout_path, method: :post, class: 'solid-button' %>