<div class="container">
  <h1>Sign Up</h1>
  <%= form_for @user do |f| %>
    <%= f.label :username %><br>
    <%= f.text_field :username %><br>
    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
    <%= f.label :role %><br>
    <%= f.select :role, ['student', 'ta', 'teacher'] %><br>
    <%= f.submit 'Sign Up', class: 'solid-button', style: 'width:200px' %>
  <% end %>
</div>