<li>
  <div class="doubt-item">
    <strong><%= doubt.title %></strong><br>
    <%= doubt.body %><br>

    <h2>Comments</h2>
    <%= render doubt.comments %>

    <% if current_user.role == 'student' %>
      <h2>Add a comment</h2>
      <% @doubt = doubt %>
      <%= render 'comments/form' %>
    <% else
         if current_user.role == 'ta' %>
        <% unless doubt.accepted %>
          <%= button_to 'Accept', doubt_accept_path(doubt), method: :patch, class: 'solid-button' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</li>
