<h1>New Doubt</h1>
<div class="doubt-form">
<%= form_with model: @doubt, local: true do |form|%>
  <% if @doubt.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@doubt.errors.count, "error") %> prohibited from creating the article
      </h2>
      <ul>
        <% @doubt.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, placeholder:'Title' %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :body, class:"comment-area", placeholder:'Add Comment'%>
  </p>
  <p>
    <%= form.submit 'Submit New Doubt', class:'solid-button' %>
  </p>
<% end %>

</div>
<%= button_to 'Go Back', root_path, class:'outline-button', style:'margin-left:20px;', method: :get %>
