<h1>Doubt</h1>
<h2><%= @doubt.title %></h2>
<%= @doubt.body %>
<% if @doubt.comments.count > 0 %>
  <h2>Comments</h2>
<% end %>
<%= render @doubt.comments %>
<%= form_with model: @doubt, url: doubt_resolve_path(@doubt.id), local: true do |f| %>
  <%= f.label :solution %><br>
  <%= f.text_area :solution %><br>
  <%= f.submit 'Resolve Doubt' %>
<% end %>
<%= button_to 'Escalate', doubt_escalate_path(@doubt.id), method: :patch, class: 'solid-button' %>